*{
  margin: 0;
  padding: 0;
}

body{
  background: url('../assets/mountains-universe-1.png') no-repeat;
  background-size: cover;
}

header{
  display: flex;
  align-items: center;
  gap: 2rem; 

  padding: 2.5rem 4.5rem;
}

header nav {
  display: flex;
  gap: 2rem;
}

nav a{
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}