*{
  margin: 0;
  padding: 0;
}

:root{
  font-family: 'Roboto', sans-serif;
}

#app{
  background: url('../assets/mountains-universe-1.png') no-repeat;
  background-size: cover;
  background-position: bottom / center;
  height: 100vh;
}

header{
  display: flex;
  align-items: center;
  gap: 2rem; 
  padding: 2.5rem 4.5rem;
}

.navigation {
  display: flex;
  gap: 2rem;
}


nav a{
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}

#content{
  display: grid;
  align-content: center;

  padding: 5rem 5rem;
  color: #fff;
}

h1{
  font-size: 2.5rem;
  line-height: 125%;
  margin-bottom: 1rem;
}

#home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  
  gap: 1.5rem;
}

#home button{
  all: unset;
  padding: .8rem 2rem;
  border: 2px solid #fff;

  font-size: 14px;
  color: #fff;
  border-radius: 5px;

  cursor: pointer;
}

#home button:hover{
  background-color: #fff;
  color: #000;
  font-weight: bold;

  transition: background 1s ease;
}

#exploration p, #universe p{
  font-size: 18px;
  line-height: 160%;
  width: 40rem;
  color: #E1E1E6;
}


@media (max-width: 1024px) {
  header{
    padding: 2.5rem 2rem;
  }


  #exploration p, #universe p{
    width: 100%;
  }

  #content{
    padding: 5rem 2.5rem;
  }
}