*{
  margin: 0;
  padding: 0;
}

:root{
  font-family: 'Roboto', sans-serif;
}

#app{
  background: url('../assets/mountains-universe-1.png') no-repeat;
  background-size: cover;
  height: 100vh;
}
header{
  display: flex;
  align-items: center;
  gap: 2rem; 
  padding: 2.5rem 4.5rem;
}

#content{
  display: grid;
  align-content: center;

  padding: 5rem 5rem;
  color: #fff;
}

h1{
  font-size: 2.5rem;
  line-height: 125%;
}

#content h1{
  font-size: 2.5rem;
  line-height: 125%;
  margin-bottom: 1rem;
}

#home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  
  gap: 1.5rem;
}

#home button{
  all: unset;
  padding: .8rem 2rem;
  border: 2px solid #fff;

  font-size: 14px;
  color: #fff;
  border-radius: 5px;
}

.navigation {
  display: flex;
  gap: 2rem;
}

nav a{
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}